/*!settings=["color_body"]*/
div#demo-popup {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
	background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    transition: all ease-in-out .25s;
    z-index: 1500;
}

.content-popup-import {
    max-height: -moz-calc(100vh - 160px);
    max-height: -webkit-calc(100vh - 160px);
    max-height: -o-calc(100vh - 160px);
    max-height: calc(100vh - 160px);
    max-width: 1340px;
    padding: 20px 40px 50px;
    width: 100%;
    height: 100%;
    background: #fff;
    display: block;
    font-weight: 300;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    margin: 0 auto;
    margin-top: 50px;
}

.demo-grid .demo-item {
  	text-align: center;
}

.demo-grid .demo-item .item-inner {
    margin-bottom: 30px;
}

.demo-grid .demo-item a {
    display: block;
    position: relative;
    overflow: hidden;
}

.demo-grid .demo-item a span {
    position: absolute;
    width: 160px;
    height: 50px;
    background-color: #fff;
    color: #343538;
    text-transform: uppercase;
    left: 50%;
    top: 50%;
    font-weight: bold;
    line-height: 50px;
    margin: 0 0 0 -80px;
    opacity: 0;
    visibility: hidden;
    transition: all 450ms ease-out;
}

.demo-grid .demo-item a:before {
    content: "";
    background-color: rgba(35, 35, 36, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: all 450ms ease-out;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
}

.demo-grid .demo-item h2 {
    font-size: 14px;
    margin: 30px 0 0;
    font-weight: 700;
}

.demo-grid .demo-item:hover a:before {
    opacity: 1;
    visibility: visible;
}

.demo-grid .demo-item:hover a span {
    opacity: 1;
    visibility: visible;
    margin-top: -25px;
}

a.g-btn-close {
    position: absolute;
    right: 0;
    top: 50px;
    width: 50px;
    height: 50px;
    text-align: center;
    font-size: 30px;
    color: #fff;
    padding: 8px;
    border-radius: 0;
}

div#demo-popup .subheading-tag > p {
    margin-bottom: 35px;
  	font-size: 18px;
}

.form-import label,
.form-export label {
    font-size: 30px;
    color: #232324;
    font-weight: 600;
    margin-bottom: 20px;
    display: block;
}

.form-import textarea,
.form-export textarea {
    width: 100%;
}

.form-import .btn,
.form-export .btn {
    border: 0;
    margin: 15px 0 0 0;
    display: block;
    width: 100%;
    text-align: center;
}

body.popup-show {
    overflow: hidden;
}

body.popup-show div#demo-popup {
	opacity: 1;
  	visibility: visible;
}

.import-btn.btn {
    width: 48%;
    float: right;
    margin: 40px 0 0 0;
    color: #fff;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 10px;
    height: 45px;
    line-height: 45px;
}

.ui-button {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    height: auto;
    margin: 0;
    background: inherit;
    border: 0;
    border-radius: inherit;
    font-family: inherit;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    text-transform: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 0.9rem 1.5rem;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#f9fafb));
    background: linear-gradient(to bottom, #fff, #f9fafb);
    border: 1px solid #c4cdd5;
    -webkit-box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
    box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
    border-radius: 3px;
    font-size: 1.5rem;
    line-height: 1.6rem;
    color: #212b35;
    -webkit-transition-property: background, border, -webkit-box-shadow;
    transition-property: background, border, -webkit-box-shadow;
    transition-property: background, border, box-shadow;
    transition-property: background, border, box-shadow, -webkit-box-shadow;
    -webkit-transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
    transition-timing-function: cubic-bezier(0.64, 0, 0.35, 1);
    -webkit-transition-duration: 200ms;
    transition-duration: 200ms;
    -webkit-tap-highlight-color: transparent;
}

.ui-button--primary {
    background: -webkit-gradient(linear, left top, left bottom, from(#6371c7), to(#5563c1));
    background: linear-gradient(to bottom, #6371c7, #5563c1);
    border-color: #3f4eae;
    -webkit-box-shadow: inset 0 1px 0 0 #6f7bcb;
    box-shadow: inset 0 1px 0 0 #6f7bcb;
    color: #ffffff;
}

a.g_update_theme {
    font-family: -apple-system, BlinkMacSystemFont, San Francisco, Segoe UI, Roboto, Helvetica Neue, sans-serif;
    position: fixed;
    top: 135px;
    left: 0;
    z-index: 1100;
}

.ui-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#f9fafb), to(#f4f6f8));
    background: linear-gradient(to bottom, #f9fafb, #f4f6f8);
    border-color: #c4cdd5;
    -webkit-box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
    box-shadow: 0 1px 0 0 rgba(22,29,37,0.05);
    color: #212b35;
}

.ui-button--primary:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#5c6ac4), to(#4959bd));
    background: linear-gradient(to bottom, #5c6ac4, #4959bd);
    border-color: #3f4eae;
    color: #ffffff;
}

textarea.g_export_form {
    height: 0;
    padding: 0;
    border: 0;
}

h2.heading-tag {
    font-size: 32px;
    font-weight: 700;
}

button#g_import_btn {
    color: #fff;
    font-weight: 700;
}

button.btn.g_export_btn {
    font-weight: 700;
    color: #fff;
}

.container-import-form {
    clear: both;
}