var GLOBO = GLOBO || {};
(function($) {
    GLOBO.slideshow = {
        init: function() {

            var data_carousel = $('.g-slideshow').parent().find('.data-slideshow');
            if (data_carousel.data('auto')) {
                var g_autoplay = true;
                var g_autoplayTime = data_carousel.data('auto');
            } else {
                var g_autoplay = false;
                var g_autoplayTime = 5000;
            }
            if (data_carousel.data('transition') == 'fade' && data_carousel.data('transition') != '') {
                var g_transition = 'fadeOut';
            } else {
                var g_transition = false;
            }
            $('.g-slideshow').owlCarousel({
                items: data_carousel.data('items'),
              	center: data_carousel.data('center'),
              	loop: true,
              	margin: data_carousel.data('margin'),
                smartSpeed: 600,
                autoplay: g_autoplay,
                lazyLoad: true,
                autoplayTimeout: g_autoplayTime,
                autoplayHoverPause: true,
                animateOut: g_transition,
                dots: data_carousel.data('paging'),
                nav: data_carousel.data('nav'),
                navText: [data_carousel.data('prev'), data_carousel.data('next')],
                thumbs: true,
                thumbImage: false,
                thumbsPrerendered: true,
                thumbContainerClass: 'owl-thumbs',
                thumbItemClass: 'owl-thumb-item',
              	video:true
            });
            var i = 1;
            //Show owl dots to number
            $('.slideshow-dots-number .owl-dot').each(function(){
              if(i<10)
              $(this).text('0'+i);
              i++;
            });
            if($('.g-slideshow').parents(".full-screen-slideshow").length > 0) {
              fullScreenSlider();
              $(window).resize( function() {
                fullScreenSlider();
              });
            }
            function fullScreenSlider(){
                var g_s_width = $(window).innerWidth();
                var g_s_height = $(window).innerHeight();
                $(".full-screen-slideshow div.item").css("position","relative");
                $(".full-screen-slideshow div.item").css("overflow","hidden");
                $(".full-screen-slideshow div.item").width(g_s_width);
                $(".full-screen-slideshow div.item").height(g_s_height);
            }
        }
    };
  
     GLOBO.slick = {
        init: function() {
            $(".g-slick-products").not('.slick-initialized').slick();
          	$('.g-slick-slider').not('.slick-initialized').slick();
          	$('.g-slick-blog').not('.slick-initialized').slick();
          	$('.g-slick-banner').not('.slick-initialized').slick();
          	$('.slick-related-blog').not('.slick-initialized').slick();
          
          	//slick thumb image single product
            $('.slider-for').not('.slick-initialized').slick();
            $('.slider-nav').not('.slick-initialized').slick();
        }
    };
  
    GLOBO.lazy_load = {
        init: function() {
            //lazy load image
            $('.lazy').Lazy();
        }        
    };
  
     GLOBO.instagram = {
        init: function() {
          var _section_get_id = $(".globo-instagram");
          var section_id = _section_get_id.data('id');

          var g_instagram_option = {
            get: 'user',
            userId: 'self',
            resolution: 'standard_resolution'
          };
          var g_instagram_template = '<div class="grid-item"><div class="instagram-item"><a target="_blank" href="\{\{link\}\}" title="\{\{caption\}\}" style="background-image: url(\{\{image\}\});" class="thumbnail"><span class="item--overlay"><i class="fa-instagram"></i></span><img src="\{\{image\}\}" alt="\{\{caption\}\}"></a><div class="instagram-info"><span class="instagram-like"><i class="fa-heart"></i>\{\{likes\}\}</span><span class="instagram-comments"><i class="fa-comments"></i>\{\{comments\}\}</span></div></div></div>';
          var g_token_input = document.querySelector('#g-token-' + section_id);
          if (!g_token_input) {
            return;
          }
          var g_token = g_token_input.value;
          var g_target = document.querySelector('#g-instafeed-' + section_id);
          var limit = parseInt(g_target.dataset.limit);
          var sortBy = g_target.dataset.sortBy;
          var options = $.extend({}, {
            limit: limit,
            target: g_target,
            accessToken: g_token,
            sortBy: sortBy,
            template: g_instagram_template,
            after: function () {
              $('.g-instafeed-slick-' + section_id).not('.slick-initialized').slick();
            },
            error: function (message) {
              console.error("Error: " + message);
            }
          }, g_instagram_option);
          var g_feed = new Instafeed(options);
          g_feed.run();
        }        
    };
  
    GLOBO.newsletter_popup = {
      init: function() {
        //Pop up Newsletter
        var $newsletter_popup = $('#la_newsletter_popup');
        if($newsletter_popup.length){
          var show_on_mobile = $newsletter_popup.attr('data-show-mobile'),
              p_delay = parseInt($newsletter_popup.attr('data-delay'));
          if( (show_on_mobile && $(window).width() < 767) ){
            return;
          }
          try{
            if(Cookies.get('spring_dont_display_popup') == 'yes'){
              return;
            }
          }catch (ex){}

          setTimeout(function(){
            lightcase.start({
              href: '#',
              maxWidth: '1170',
              maxHeight: '550',
              inline: {
                width : '1170',
                height : '550'
              },
              onInit : {
                foo: function() {
                  $('body').addClass('open-newsletter-popup');
                }
              },
              onClose : {
                qux: function() {
                  if($('.la-newsletter-popup #dont_show_popup').length && $('.la-newsletter-popup #dont_show_popup').is(':checked')){
                    var backtime = parseInt($newsletter_popup.attr('data-back-time'));
                    try {
                      Cookies.set('spring_dont_display_popup', 'yes', { expires: backtime, path: '/' });
                    } catch (ex){}
                  }
                  $('body').removeClass('open-newsletter-popup');
                }
              },
              onFinish: {
                injectContent: function () {
                  lightcase.get('contentInner').children().append($newsletter_popup);
                  $('.lightcase-icon-close').hide();
                  lightcase.resize();
                }
              }
            });
          }, p_delay)
        }

        $(document).on('click', '.btn-close-newsletter-popup', function(e){
          e.preventDefault();
          lightcase.close();
        })
      }
    };
  
    GLOBO.init_isotope = {
      init: function() {
        	var  $window = $(window),
                 $document = $(document);

            var resize_portfolio_item_list = function ( $isotope_container ) {


                if($isotope_container.hasClass('grid-items')){
                    return;
                }
                else{
                    if(!$isotope_container.hasClass('pf-masonry') && !$isotope_container.hasClass('prods_masonry')){
                        return;
                    }
                }

                var ww = $window.width(),
                    _base_w = $isotope_container.data('item-width'),
                    _base_h = $isotope_container.data('item-height'),
                    wrapperwidth = $isotope_container.width();
				
                if($isotope_container.hasClass('prods_masonry')){
                    wrapperwidth = $isotope_container.width();
                }
				
                var portfolionumber = $isotope_container.data('portfolionumber');
              
                if( ww < 1200){
                    portfolionumber = $isotope_container.data('md-col');
                    $isotope_container.removeClass('cover-img-bg');
                }
                else{
                    $isotope_container.addClass('cover-img-bg');
                }
                if( ww < 800){
                    portfolionumber = $isotope_container.data('sm-col');
                }
                if( ww < 768){
                    portfolionumber = $isotope_container.data('xs-col');
                }
                if( ww < 500){
                    portfolionumber = $isotope_container.data('mb-col');
                }

                var itemwidth = Math.floor(wrapperwidth / portfolionumber),
                    selector = $isotope_container.data('item_selector'),
                    margin = parseInt($isotope_container.data('item_margin') || 0),
                    dimension = parseFloat( _base_w / _base_h );

                $( selector, $isotope_container ).each(function (e) {

                    var thiswidth = parseFloat( $(this).data('width') || 1 ),
                        thisheight = parseFloat( $(this).data('height') || 1),
                        _css = {};

                    if (isNaN(thiswidth)) thiswidth = 1;
                    if (isNaN(thisheight)) thisheight = 1;

                    if( ww < 1200){
                        thiswidth = thisheight = 1;
                    }

                    _css.width = Math.floor((itemwidth * thiswidth) - (margin / 2));
                    _css.height = Math.floor((itemwidth / dimension) * thisheight);


                    $(this).css(_css);
	
                });
            };

            var initialize_isotope = function( $isotope_container ){
                var item_selector   = $isotope_container.data('item_selector'),
                    callback        = ( $isotope_container.data('callback') || false ),
                    configs         = ( $isotope_container.data('config_isotope') || {} );

                var columnWidth = $isotope_container.attr('data-item-width');
                if ($().isotope) {

                    configs = $.extend({
                        percentPosition: true,
                        itemSelector : item_selector,
                        masonry : {
                            gutter: 0
                        }
                    },configs);

                    if(columnWidth && columnWidth != '' && !$isotope_container.hasClass('masonry__column-type-default')){
                        configs.masonry.columnWidth = 1
                    }

                    $isotope_container.isotope(configs);

                }
            };

            $document.on( 'la_event_init_isotope', '.la-isotope-container', function(e){
              var $this = $(this);
              resize_portfolio_item_list($this);
              $window.on('resize', function(e){
                resize_portfolio_item_list($this);
              });
              initialize_isotope($this);
            });
   
            $('.la-isotope-container').trigger('la_event_init_isotope');
           
      }
    };
  
    GLOBO.onepage_background = {
      init: function() {
        var parallaxElements = $('.g-parallax'),
            parallaxQuantity = parallaxElements.length;

        $(window).on('scroll', function () {

          window.requestAnimationFrame(function () {

            for (var i = 0; i < parallaxQuantity; i++) {
              var currentElement =  parallaxElements.eq(i);
              var scrolled = $(window).scrollTop();

                currentElement.css({
                  'transform': 'translate3d(0,' + scrolled * -0.3 + 'px, 0)'
                });

            }
          });

        });
      }
    };

    GLOBO.extral_theme = {
      init: function() {
        //tooltip
  		$('[data-toggle="tooltip"]').tooltip(); 
        
        //scroll top
        $(window).on("load scroll", function() {
          $(window).scrollTop() > $(window).height() + 100 ? $(".backtotop-container").addClass("show") : $(".backtotop-container").removeClass("show")
        }), $(document).on("click", ".btn-backtotop", function(e) {
          e.preventDefault(), $("html,body").animate({
            scrollTop: 0
          }, 800)
        });
        
        //header aside
        $(document).on("click", ".la_com_action--aside_header .component-target,.btn-aside-toggle", function(t) {
          	t.preventDefault(), $(this).hasClass("btn-master-toggle") ? $('body').toggleClass("open-master-aside") : $('body').toggleClass("open-header-aside")
        });
        
        //Add to cart
        $(document).on("click", ".la_com_action--cart", function(e) {
          e.preventDefault(), $('body').toggleClass("open-cart-aside")
        }), $(document).on("click", ".btn-close-cart", function(e) {
          e.preventDefault(), $('body').removeClass("open-cart-aside")
        })
        
       	$(document) .on('click', '.la-overlay-global', function(e){
          e.preventDefault();
          $('.la_com_action--primary-menu').removeClass('active');
          $('body').removeClass('open-aside open-search-form open-cart-aside open-mobile-menu open-advanced-shop-filter open-header-aside open-master-aside');
        });
        
        //Sticky header
        $(window).scroll(function () {
          if($(this).scrollTop() > $(".site-header").offset().top) {
            $(".header-sticky").sticky({topSpacing:0,zIndex:9});
          } else {
            $(".header-sticky").unstick();
          }
        });
        
        //Search toogle
        $(document).on("click", ".btn-search", function(t) {
          t.preventDefault(); 
          $('body').addClass("open-search-form"), setTimeout(function() {
            $(".searchform-fly .search-field").focus();
          }, 600)
        });
        $(document).on("click", ".btn-close-search", function(e) {
          e.preventDefault();
          $('body').removeClass("open-search-form");
        });
        
        // Youtube video
        $(".video_popup, .video_popup_bg").lightcase({
          showTitle: false,
          showCaption: false,
          maxWidth: 1280,
          maxHeight: 720,
          iframe:{
            width:1280,
            height:720
          }
        });
        
        //menu
        $('.dl-menu li > .narrow').click(function(e) {
            e.preventDefault(); 
           	var t = $(this).parent();
            t.hasClass("open") ? (t.removeClass("open"), t.find(">ul").stop().slideUp()) : (t.addClass("open"), t.find(">ul").stop().slideDown(), t.siblings().removeClass("open").find(">ul").stop().slideUp())
        });
        $(document).on("click", ".accordion-menu li.menu-item-has-children > a, .accordion-menu li.menu-item-has-children > .narrow", function(e) {
            e.preventDefault();
            var t = $(this).parent();
            t.hasClass("open") ? (t.removeClass("open"), t.find(">ul").stop().slideUp()) : (t.addClass("open"), t.find(">ul").stop().slideDown(), t.siblings().removeClass("open").find(">ul").stop().slideUp())
        });
        
        //filter toggle
        $(document).on("click", ".btn-advanced-shop-filter", function(t) {
          t.preventDefault(), $('body').toggleClass("open-advanced-shop-filter"), $(".la-advanced-product-filters").animate({
            height: "toggle"
          })//, e("ul#menu-shop-category-menu").getNiceScroll().onResize(), $(".widget_layered_nav ul").getNiceScroll().onResize()
        });
            
        //grid list collection page
        $(document).on("click", ".wc-view-toggle span", function() {
          var t = $(this),
              i = t.data("view_mode");
          t.hasClass("active") || ($(".wc-view-toggle span").removeClass("active"), t.addClass("active"), $(".main-content").find("ul.products").removeClass("products-grid").removeClass("products-list").addClass("products-" + i))
        });
        
        //product image zoom
        if ($(".g-image-zoom").length > 0) {
          var t = $(".g-image-zoom");
          t.trigger( 'zoom.destroy' );
          t.zoom({
            touch: false
          })
        }

        // fancybox image gallery
        $('[data-fancybox="gallery"]').fancybox({
          thumbs : {
            showOnStart : true
          },
          hash : true
        })
        
        //sticky product countdown
        if($('body').hasClass('template-product')) {
          $(window).scroll(function () {
            if($(this).scrollTop() > $("body.template-product .info-single-product").offset().top) {
              $(".g-sticky-product-countdown").addClass('show');
            } else {
              $(".g-sticky-product-countdown").removeClass('show');
            }
          });
        }
        
        //Scroll nano
        
        
        //quickview product
        $(".globo-quick-view-button").lightcase({
          href: $(this).attr("href"),
          showSequenceInfo: !1,
          showTitle: false,
          showCaption: false,
          type: "ajax",
          maxWidth: 1300,
          maxHeight: 700,
          iframe: {
            width: 1300,
            height: 700
          },
          ajax: {
            width: 1300,
            height: 700
          },
          onStart: {
            bar: function() {
				$('body').addClass("open-quickview-product");
            }
          },
          {% if settings.show_multiple_currencies %}
          onFinish : {
            corge: function() {
              Currency.convertAll(shopCurrency, jQuery('[name=currencies]').val());
            }
          },
          {% endif %}
          onCleanup : {
            garply: function() {
              $('body').removeClass("open-quickview-product");
            }
          }
        });
        
        //menu mobile
        $(document).on('click', '.site-header-mobile .la_com_action--primary-menu', function(e){
          e.preventDefault();
          $(this).toggleClass('active');
          $('body').toggleClass('open-mobile-menu');
        });
        
        if($(window).width() < 1025) {
        	 $(".site-header-mobile").sticky({topSpacing:0,zIndex:9});
        }
       
        
      }
    };
    GLOBO.onReady = {
        init: function() {
            GLOBO.slideshow.init();
          	GLOBO.slick.init();
          	GLOBO.lazy_load.init();
          	GLOBO.instagram.init();
          	GLOBO.newsletter_popup.init();
          	GLOBO.init_isotope.init();
          	GLOBO.extral_theme.init();
        }
    };

    $(document).ready(function() {
        GLOBO.onReady.init();
    });
  
    $(window).resize(function() {
        setTimeout(function () {
			
        }, 500);
    });
  
    $(window).load(function() {
      	GLOBO.slideshow.init();
        GLOBO.lazy_load.init();
      	GLOBO.init_isotope.init();
    });
    
    
})(jQuery);

jQuery(document)
  .on('shopify:section:load', GLOBO.slideshow.init)
  .on('shopify:section:unload', GLOBO.slideshow.init)
  .on('shopify:section:select', GLOBO.slideshow.init)
  .on('shopify:section:deselect', GLOBO.slideshow.init)
  .on('shopify:block:select', GLOBO.slideshow.init)
  .on('shopify:block:deselect', GLOBO.slideshow.init);

jQuery(document)
  .on('shopify:section:load', GLOBO.slick.init)
  .on('shopify:section:unload', GLOBO.slick.init)
  .on('shopify:section:select', GLOBO.slick.init)
  .on('shopify:section:deselect', GLOBO.slick.init)
  .on('shopify:block:select', GLOBO.slick.init)
  .on('shopify:block:deselect', GLOBO.slick.init);

jQuery(document)
  .on('shopify:section:load', GLOBO.lazy_load.init)
  .on('shopify:section:unload', GLOBO.lazy_load.init)
  .on('shopify:section:select', GLOBO.lazy_load.init)
  .on('shopify:section:deselect', GLOBO.lazy_load.init)
  .on('shopify:block:select', GLOBO.lazy_load.init)
  .on('shopify:block:deselect', GLOBO.lazy_load.init);

jQuery(document)
  .on('shopify:section:load', GLOBO.init_isotope.init)
  .on('shopify:section:unload', GLOBO.init_isotope.init)
  .on('shopify:section:select', GLOBO.init_isotope.init)
  .on('shopify:section:deselect', GLOBO.init_isotope.init)
  .on('shopify:block:select', GLOBO.init_isotope.init)
  .on('shopify:block:deselect', GLOBO.init_isotope.init);
